header {
  padding: 15px;
  background-color: darkolivegreen;
  color: whitesmoke;
  text-align: center;
}

main {
  padding-top: 85px;
}

/* Update the style for the nav list to be a flex container with column direction */
.navbar .nav-list {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

/* Adjust the margin for vertical spacing */
.nav-list li {
  list-style: none;
  margin: 5px 0;
}

nav > a {
  text-decoration: none;
  color: whitesmoke;
  margin: 5px;
  display: inline-block;
  padding: 8px 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav > a:visited {
  color: whitesmoke;
}

nav > a.active {
  background-color: darkolivegreen;
  color: whitesmoke;
  border-color: darkolivegreen;
}

header h1 {
  display: inline-block;
  font-size: x-large;
}

@media only screen and (max-width: 680px) {
  header nav {
    display: flex;
    flex-direction: column; /* Align the nav items in a single column */
    align-items: center; /* Center-align the nav items horizontally */
  }

  nav > a {
    margin: 5px 0; /* Adjust the margin for vertical spacing */
  }

  /* Hide the h1 element on smaller screens */
  header h1 {
    display: none;
  }
}

@media only screen and (min-width: 681px) and (max-width: 860px) {
  header nav {
    flex-direction: row; /* Align the nav items in a single row */
    justify-content: center; /* Center-align the nav items horizontally */
  }

  nav > a {
    margin: 5px; /* Adjust the margin for horizontal spacing */
  }
}
