.tip {
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  
  .tip u {
    text-decoration: underline;
  }
  
  .tip .tip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tip:hover .tip-text {
    visibility: visible;
  }

:-webkit-scrollbar {
    width: 5px;
    height: 50%;
  }
  
  ::-webkit-scrollbar-track {
    background: whitesmoke;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  
  .About-Me {
    
    margin: 15px auto;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align items horizontally */
    justify-content: center; /* Center-align items vertically */
  }
  
  .headshot {
    float: left;
    margin: 5px;
  }
  
  .About-Me {
    border: 1px;
    border-radius: 10px;
    border-color: #000;
    border-style: groove;
    margin: 5px;
    padding: 3%;
    max-height: 250px;
    min-height: 200px;
    overflow-y: auto;
    max-width: 75%;
    min-width: 370px;
    background-color: whitesmoke;
  }

  /* .Background {
    background-image: url('../assets/images/background.jpeg'); 
    background-color: whitesmoke;
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: cover;
    margin: 0;
  } */