* {
  margin: 0;
  padding: 0;
}

.navbar .nav-list {
  width: 100%;
  display: flex;
  justify-content: center; /* Center-align the nav items horizontally */
  margin-top: 1px;
}

.nav-list {
  width: 70%; /* Adjust the width to your desired value */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add space between list items */
}

.background {
  background-color: darkolivegreen;
  color: whitesmoke;
  background-blend-mode: darken;
  background-size: cover;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 180px;
  border-radius: 50px;
}

.nav-list li {
  list-style: none;
  padding: 10px 30px;
}

.nav-list li a {
  text-decoration: none;
  color: whitesmoke;
}

.nav-list li a:hover {
  color: grey;
}

.rightnav {
  width: 30%;
  text-align: right;
}

.box-main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  max-width: 80%;
  margin: auto;
  height: 80%;
}

.firsthalf {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.secondhalf {
  width: 30%;
}

.secondhalf img {
  width: 70%;
  border: 4px solid white;
  border-radius: 150px;
  display: block;
  margin: auto;
}

.text-big {
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.text-small {
  font-size: 18px;
}

.btn {
  margin-left: 20px;
  height: 33px;
  width: 70px;
  color: #fff;
  background-color: #000;
  cursor: pointer;
}

.btn-sm {
  padding: 6px 10px;
  vertical-align: middle;
}

.section {
  display: flex;
  align-items: center;
  background-color: rgb(250, 250, 250);
  justify-content: space-between;
}

.section-Left {
  flex-direction: row-reverse;
}

.center {
  text-align: center;
}

@media only screen and (max-width: 680px) {
  .nav-list {
    flex-direction: column; /* Align the nav items in a single column */
    align-items: center; /* Center-align the nav items horizontally */
  }
}